
.contenedor_main{
    max-width: 100%;
    margin: 40px 0 0 0;
    overflow: hidden;
 }



.contenedor_principal{
    position: relative;
   
   
}

.contenedor_slideShow{
    display: flex;
    flex-wrap: nowrap;

}
.contenedor_slide{
   min-width: 100%;
   overflow: hidden;
   transition: .3s  ease all;
   z-index: 9;
   max-height: 500px;
  position: relative;
}

.slide_img{
    width:100%;
  height: 350px;
 vertical-align: top; 

}


.paragraph_slide{
    background-color:  #e956563f;
    color: white;
    width: 100%;
    padding: 10px 60px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.controles{
  position: absolute;
  top: 0;  
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.boton{
   background: none;
   border: none;
   color: white;
   font-size: 30px;
    cursor: pointer;
    outline: none;
   margin-right: 1em;
   margin-left: 1em;
  transition: .3s ease all;
}

.doll{
    width: 100%;
    font-size: 50px;
    color: #503d09; 
    margin-top: .5em;
    font-family:  'Peddana';
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
}