* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(37, 33, 37, 0.05);
    font-family: 'Peddana';
}

.contenedor_nav {
    width: 100%;
    height: 60px;
    background-color: #cbaa99;
    box-shadow: gray 3px 3px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.titulo_nav{
    color: #503d09;
    font-size: 25px;
}

.titulo_principal {
    color: #503d09;
    font-size: 40px;
    text-align: center;
    margin: 1em 0;

}

 a {
    text-decoration: none;

} 
@media screen and (max-width: 600px) {
    .titulo_principal {
        font-size: 30px;
    }
    .contenedor_nav {
        flex-direction: column;
        height: 280px;
    }
}

/* estilos de enlaces Nav y carrito */


.enlaces{
    text-decoration: none;
    display: inline;
    margin: 1em 2em;
    color: #503d09;
    font-size: 20px;

}
/* Estilos para componente ItemCount */
.divIC {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;

}

.divBtn {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.contador {
    color: #a38677;
    font-size: 30px;
    text-align: center;
    text-align: center;

}

.btnCarrito {
    width: 80%;
    color: #503d09;
    display: block;
    margin: 1em auto;
    ;
    padding: .5em;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #cbaa9944;
    box-shadow: #cbaa99 3px 3px 5px;
}

.btnCarrito:hover {
    box-shadow: #cbaa99 -3px -3px -5px;
}


.btnCarrito:hover {
    box-shadow: #cbaa99 3px 3px 5px;
}

.contCarrito {
    margin: auto;
}

.contador {
    font-size: 24px;

}

.btn_count {
    width: 25%;
    border: none;
    background-color: #cbaa9944;
    color: #503d09;
    box-shadow: 2px 2px 3px #b3988b;
    font-size: 23px;

}

.flexCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    margin: auto;
}

.contenedor_contador{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    height: 30px;
}

 

/* Estilos para carrito */

.div_cart_vacio{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    gap: 20px;
    width: 100%;
    margin-bottom: 100px;
}

.div_cart{
    width: 80%;
    border-bottom: solid  1px #cbaa99;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
    gap: 20px;
}

.div_cart_items{
    width: 70%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
}
.div_item_articulo{
    border-bottom: solid 2px #cbaa99;
    background-color: #cbaa9944; ;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div_item_articulo_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagen_cart {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.boton_vaciar {
    width: 20%;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    color: #503d09;
    background-color: #cbaa9944;
    box-shadow: #cbaa99 3px 3px 5px;
}
.boton_vaciar:hover {
    cursor: pointer;
}

.paragraph_tabla {
    color: #503d09;
    font-size: 20px;
    margin-top: 1em;
    padding: 0 2em;
    text-align: center;
}

.div_btn {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.paragraph_boton{
    color: #503d09;
    font-size: 14px;
    margin-top: 1em;
    padding: 0 2em;
    text-align: center;
}

