*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgba(37, 33, 37, 0.05);
    font-family:  'Peddana';
}

.headerC{
    height: 60px;
    background-color:#cbaa99;
    box-shadow: gray 3px 3px 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.titleP{
 color: #503d09;
 
}
.dol{
    color: #503d09;
    font-size: 40px;
    text-align: center;  
    margin-top: 1.5em;

}
a{
    text-decoration:none;
    
}

/* estilos de enlaces Nav y carrito */


.enlaces{
    display: inline;
    margin: 1em 2em;
    color:#503d09;
    font-size: 20px;

}
.listasD{
    list-style: none;
    margin: .5em;
    margin-top: 2em;
}
.secPrimera{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* Estilo para componente Itenlist */


.divCardD{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  padding: 16px;

}

/* Estilos para componente ItemCount */
.divIC{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-around;
    
}
.divBtn{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}
.contador{
    color: #a38677;
     font-size: 30px;
    text-align: center;
    text-align: center;
  
}
.btnCarrito{
    width: 80%;
    margin: 1em 2em;;
    padding: .5em;
    border-radius: 5px;
    border:none;
    font-size: 14px;
    background-color:#cbaa9944;
}
.contCarrito {
  
    margin: auto;
  }
  .contador {
    font-size: 24px;

  }
  .btnCon{
    color:#b3988b;
    font-size: 23px;

  }

.flexCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    margin: auto;
  }

.contenedorContador {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    height: 30px;
  }

/* Estilos para ItemList */
.pLL{
    text-align: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  color: #503d09;
}
.pL{
    color: #503d09;
    font-size: 27px;
    margin-top: 1em;
    text-align: center;
}
.paragraph{
    color: #503d09;
    font-size: 17px;
    margin-top: 1em;
}
.divCard{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#cbaa9944;
    border: solid 2px  #cbaa99c2;
    border-radius: 10px;

}
.stiloimg{
    width: 100%;
    height: 250px;
    
}
/* Contenedor ItemD */
.contenedorID{
    width: 80%;
    text-align: justify;
    margin: 1em 7em;
    padding: 1em 1em 2em;
    border: solid 2px  #cbaa99c2;
}

.footerU{
    background-color: #d7ccc8;
    width: 100%;
    height: 100px;
}