*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgba(37, 33, 37, 0.05);
    font-family:  'Peddana';
}

.headerC{
    height: 60px;
    background-color:#cbaa99;
    box-shadow: gray 3px 3px 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.titleP{
 color: #503d09;
 font-size: 2em;
 
}
.dol{
    color: #503d09;
    font-size: 40px;
    text-align: center;  
    margin-top: 1.5em;

}
a{
    text-decoration:none;
    
}

/* estilos de enlaces Nav y carrito */


.enlaces{
    display: inline;
    margin: 1em 2em;
    color:#503d09;
    font-size: 20px;

}
.listasD{
    list-style: none;
    margin: .5em;
    margin-top: 2em;
}
.secPrimera{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* Estilo para componente Itenlist */


.divCardD{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 4em;
  padding: 16px;

}

/* Estilos para componente ItemCount */
.divIC{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-around;
    
}
.divBtn{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}
.contador{
    color: #a38677;
     font-size: 30px;
    text-align: center;
    text-align: center;
  
}
.btnCarrito{
    width: 80%;
    margin: 1em 2em ;
    padding: .5em;
    border-radius: 5px;
    border:none;
    font-size: 14px;
    background-color:#cbaa9944;
    box-shadow:   #cbaa99 -3px -3px -5px;
}

.btnCarrito:hover{
    /* background-color: #cbaa99; */
    box-shadow:  #cbaa99  3px 3px 5px;
                 
}
.contCarrito {
    margin: auto;
  }
  .contador {
    font-size: 24px;

  }
  .btnCon{
    color:#b3988b;
    font-size: 23px;

  }

.flexCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    margin: auto;
  }

.contenedorContador {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    height: 30px;
  }

/* Estilos para ItemList */
.pLL{
    text-align: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  color: #503d09;
}
.pL{
    color: #503d09;
    font-size: 27px;
    margin-top: 1em;
    text-align: center;
}
.paragraph{
    color: #503d09;
    font-size: 17px;
    margin-top: 1em;
}
.divCard{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#cbaa9944;
    border: solid 2px  #cbaa99c2;
    box-shadow: gray 3px 3px 5px;
    border-radius: 5px;

}
.stiloimg{
    width: 100%;
    height: 250px;
    
}
/* Contenedor ItemD */
.contendDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.contenedorID{
    width: 80%;
    text-align: justify;
    margin: 1em 7em;
    padding: 1em 1em 2em;
    border: solid 2px  #cbaa99c2;
}

.divImg{
   width: 100%;
   height: 200px;
   margin: 2em;
}

.divDetail{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 1em;
    background-color:#cbaa993f;
    border: solid 2px  #cbaa99c2;
}

.divDesdcripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    text-align: justify;
    margin: 1em 7em;
    padding: 1em 1em 2em;
    border: solid 1px  #cbaa99c2;
    border-radius: 5px;
    box-shadow: 2px 2px 3px  gray ;
}

/* Estilos para carrito */

.tabla{
    width: 80%;
    background-color:#cbaa9944;
    /* border : solid 1px #cbaa99c2; */
    text-align: center;
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: 1em;
    margin-top: 2em;
    padding: 1em 1em;
    border-radius: 5px;
  
  
  }
  

.imgTabla{
    width: 30%;
    height: 150px;
}
.btnVaciar{
    width: 20%;
    border:none;
    padding: .2em;
    border-radius: 5px;
    font-size: 12px;
    background-color:#cbaa9944;
}
.paragraphTabla{
    color: #503d09;
    font-size: 20px;
    margin-top: 1em;
    text-align: center;
}

.divBtns{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}


/* Estilos para formulario */

.login-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 2em;
    /* background-color:#cbaa9944; */
    border: solid 1px  #cbaa99c2;
    box-shadow: gray 2px 2px 3px;
    border-radius: 5px;
}

.login-input{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin-top: 1.2em;
    margin-bottom: 1em;
}

.input_login{
    width: 80%;
    height: 2em;
    border: none;
    border-radius: 5px;
    background-color:transparent;
    padding: .4em;
    border: 1px solid #cbaa99c2;
}
.label_login{
    color: #503d09;
    font-size: 15px;
    margin-top: 1em;
    text-align: center;
}

.login-button{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
}
.btn_login{
    width: 30%;
    border:none;
    padding: .8em;
    border-radius: 5px;
    font-size: 12px;
    background-color:#cbaa9944;
}

.error{
    color: red;
    display: block;
    font-size: 14px;
    text-align: center;
}